{% extends 'base.html.twig' %}

{% block title %}Nouvelle Intervention{% endblock %}

{% block body %}
    <h1>Créer une nouvelle intervention</h1>

    {{ include('intervention/_form.html.twig') }}

    <a class="btn btn-secondary mb-3" href="{{ path('app_intervention_index') }}">
    <i class="bi bi-arrow-left"></i> Retour à la liste
</a>
{% endblock %}
